@import url("../styles/reset/style_reset.css");

body{
    background-color: #E5E5E5;
}

#Contenedor{
    margin: 0;
    padding: 0;

}

#Logo{
    width: 10%;
    height: 97vh;
    padding-top: 1%;
    top: 0;
    bottom: 0;
    text-align: center;
    float: left;

    /* background-color: red; */
}

#log-alu{
    display: inline;
    left: 70%;}

#log-alu:hover{
    animation: aparece 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aparece {
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

#Entradas{
    width: 65%;
    height: 98vh;
    float: left;

    /* background-color: blue; */
}

#Texto{
    display: inline-table;

    width: 100%;
    height: 70%;

    /* background-color:saddlebrown; */
}

#int-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    margin-top: 7%;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;

    width: 93%;
    height: 100%;
    background-color: #E5E5E5;
    color: #0A3871;
}

#Pie{
    width: 100%;
    height: 20px;
    color: #495057;
    margin-bottom: 2%;
    padding-left: 10%;
    transition: 1s;

    /* background-color: green; */
}

#img-exclama{
    vertical-align: text-bottom;
}

#icon-exclama{
    transition: 1s;
}

#icon-exclama:hover, #Pie:hover{

    transition: 1s;
    fill: red;
    color: red;

}

button{
    border-radius: 24px;
    width: 328px;
    height: 67px;
}

#Botones{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    width: 100%;
    height: 68px;
    align-items: center;

    /* background-color: orange; */
}

#btn-encript{
    border: none;
    background-color: #0A3871;
    margin-right: 5%;
    color: white;
    cursor: pointer;
}

#btn-desencript{
    gap: 8px;
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;

    cursor: pointer;
}

#Salidas{
    /* display: inline; */
    width: 25%;
    height: 96vh;
    float: left;
    background-color: #FFFFFF;
    border-radius: 32px;
    margin-top: 1%;
    margin-left: -2%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    /* background-color: black; */
}

.Salidas-sn-msg{
    display: grid;
    align-content: center;
    justify-content: center;
}

#Mensaje{
    width: 90%;
    /* height: 75.5%; */
    height: 78.5%;

    margin: 10% 0% 4% 5%;
    /* background-color: white; */
}

/* #sn_msg{
    padding-top: 50%;
    padding-bottom: 50%;
} */

#img-ilustracion{
    width: 100%;
    height: auto;
}

#msg-snTxt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

#pre-encript-txt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#cn_msg{
    display: none;
    width: 99%;
    height: 100%;
    /* height: 74vh; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

}

#Copia{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
}

/* #cn_msg{
    display: none;
} */

#btn-copiar{
    display: none;
    border: 1px solid #0A3871;
    color:#0A3871;
    cursor: pointer;

    margin-bottom: 2%;
}

@media screen and (max-height: 750px) {

    /* #Pie{
        background-color: green;
    } */

    #Botones{
        /* background-color: pink; */
        display: flex;
        
        padding-top: 0%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #btn-encript{
        height: 100%;
        display: block;
        padding: 5%;
        float: left;

    }

    #btn-desencript{
        height: 100%;
        display: block;
        padding: 5%;
        float: left;
    }

    /* #Salidas{
        background-color: black;
    } */

}

@media screen and (max-height: 1025px) {

    #btn-encript{
        padding: 0%;
    }

    #btn-desencript{
        padding: 0%;
    }

}

@media screen and (max-width: 1300px) {
    /* body {
      background-color: lightgreen;
    } */

    #Contenedor{
        width: 98%;
        height: 100%;

    }

    #Logo{
        width: 100%;
        height: 100%;
        padding: 1% 0% 1% 1%;
        text-align: start;

        /* background-color: red; */
    }

    #Entradas{
        width: 100%;
        height: 100%;

        /* background-color: blue; */
    }

    #Texto{

        width: 100%;
        height: 55vh;

        /* background-color:saddlebrown; */
    }

    #int-txt {
        width: 100%;
        height: 100%;
        margin-top: 0%;
        padding-left: 1%;
        /* height: 100%;
        margin: 10%; */

    }

    #Pie{
        width: 100%;
        height: 3vh;
        /* padding: 0% 0% 1% 1%; */
        padding-left: 1%;
        margin: 0%;
        /* background-color: green; */
    }

    #Botones{
        width: 100%;
        height: 9vh;
        margin: auto;
        /* padding-top: 0.5%; */
        padding-top: 1%;

        /* background-color: pink; */
    }

    /* #btn-encript{

        margin-right: 5%;
        margin-left: -8%;
        margin: auto;
        padding-top: auto;
        margin: 0%;
        padding: 0%;
    } */

    /* #btn-desencript{
    } */

    #Salidas{
        width: 90%;
        height: 100%;
        /* margin: auto; */
        margin-top: 1%;
        margin-left: 5.5%;
        /* border-radius: 0%; */
        /* background-color: black; */
    }

    #img-ilustracion{
        display: none;
    }

    #Mensaje{
        width: 100%;
        height: 100%;
        padding: 2% 0% 2% 0%;
        /* margin: 10% 0% 4% 5%; */
        margin: 0%;
    }

    #cn_msg{
        width: 98%;
        padding-left: 2%;

        /* overflow: auto; */
        word-wrap: break-word;
        /* background-color: red; */

        
    }

    #sn_msg{
        /* display: block; */
        /* padding-top: 2%; */
        word-wrap: break-word;
        
        padding: 2% 0% 2% 0%;
    
    }

    #btn-copiar{
        margin-bottom: 2%;
    }

  }

  @media screen and (max-width: 709px) {
    
    /* body {
      background-color: lightgreen;
    } */

    /* #Logo{
        background-color: red;
    } */

    #log-alu{
        width: 28px;
        height: 28px;
    }

    /* #Entradas{
        background-color: blue;
    } */

    /* #Texto{
        background-color:saddlebrown;
    } */

    /* #Pie{
        background-color: green;
    } */

    #Botones{
        height: 10%;
        margin-bottom: 0%;
        /* background-color: pink; */
    }

    #btn-encript{
        display: block;
        width: 80%;
        margin: 1% 1% 2% 10%;
        padding: 3%;

        /* background-color: chocolate; */

    }

    #btn-desencript{
        display: block;
        width: 80%;
        margin: 1% 1% 1% 10%;
        padding: 3%;

        /* background-color: salmon; */
    }

    /* #Salidas{
        background-color: black;
    } */
}

/* @media not|only mediatype and (mediafeature and|or|not mediafeature) {
    CSS-Code;
} */

/* body {
    background-color: lightblue;
  }
  
  @media screen and (min-width: 400px) {
    body {
      background-color: lightgreen;
    }
  }
  
    @media screen and (max-width: 600px) {
    div.example {
        display: none;
    }
    }

  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  } */